html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit; /* stylelint-disable-line */
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after { /* stylelint-disable-line */
  box-sizing: inherit;
}
body {
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
  font-size: 25.6px;
  font-size: 1.6rem;
  height: 100%;
}

.fa {
  color: white;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 32px;
  font-size: 2rem;
  font-weight: bold;
  height: 30px;
  width: 69px;
  padding: 40px;
  padding: 2.5rem;
  margin-left: 40px;
  margin-left: 2.5rem;
  background-image: url(/assets/logo_talesathome.png);
  background-repeat: no-repeat;
}

h1 span {
  display: none;
}

h2 {
  font-size: 28.8px;
  font-size: 1.8rem;
  font-weight: bold;
  color: #6d34c5;
}

h3 {
  padding: 48px 0;
  padding: 3rem 0;
  font-weight: bold;
}

.error {
  color: red;
}

.actions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.actions li {
  margin-left: 16px;
  margin-left: 1rem;
  color: #773eff;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*
HEADER
*/

header,
.families,
.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav,
.form-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: 32px;
  margin-top: 2rem;
}

nav ul, .form-actions ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: 16px;
  padding-left: 1rem;
}

nav li, .form-actions li {
  margin-left: 32px;
  margin-left: 2rem;
  color: white;
}

nav li a:visited, .form-actions li a:visited {
  color: white;
}

nav{
  padding-right: 48px;
  padding-right: 3rem;
  padding-top: 48px;
  padding-top: 3rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

.families-search {
  background-color: #6d34c5;
  padding-left: 40px;
  padding-left: 2.5rem;
  padding-bottom: 32px;
  padding-bottom: 2rem;
}

.families-search span,
  .families-search input {
  width: 98%;
  background-color: #6431b9;
  border: none;
  border-radius: 0 10px 10px;
}

/*
FORMS
*/

form {
  width: 640px;
  width: 40rem;
  margin: 32px;
  margin: 2rem;
}

label {
  display: block;
}

input {
  display: block;
  width: 100%;
  padding: 16px;
  padding: 1rem;

  margin: 16px 0;
  margin: 1rem 0;
  background: none;

  border-radius: 1rem;
  border: 1px solid grey
}

input:focus{
  outline: none;
}

/*
MENTOR FAMILIES
*/

.page-families {
  background-color: #dbe8fe;
}

header {
  background-color: #6d34c5;
}

.families header {
  background-color: #dbe8fe;
}

.families {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.families-browse {

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

      -ms-flex-direction: column;

          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  margin-top: 80px;
  margin-top: 5rem;
}

.families-browse li {
  margin: 16px;
  margin: 1rem;
  padding: 16px;
  padding: 1rem;
  margin-left: 64px;
  margin-left: 4rem;
  border-radius: 50%;
  text-align: center;
  color: white;
  width: 48px;
  width: 3rem;
  height: 48px;
  height: 3rem;
  background: #6d34c5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer
}

.families-browse li:hover{
  background: #6431b9;
  width: 64px;
  width: 4rem;
  height: 64px;
  height: 4rem;
}

.families-browse .disabled {
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
  opacity: .5;
  font-size: 19.2px;
  font-size: 1.2rem;
  background: none;
  margin: 8px;
  margin: .5rem;
  cursor: auto;
  color: #6d34c5
}

.families-browse .disabled:hover{
  background-color: none;
  width: 32px;
  width: 2rem;
  height: 32px;
  height: 2rem;
}

.families-browse .active {
  width: 64px;
  width: 4rem;
  height: 64px;
  height: 4rem;
}

.families-overview {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  padding-top: 80px;
  padding-top: 5rem;
}

.family-item {
  color: #515151;
  width: 80vw;
}

.action {
  margin: 16px;
  margin: 1rem;
  background: #6d34c5;
  padding: 8px;
  padding: .5rem;
  border-radius: 50%;
  text-align: center;

  width: 64px;
  width: 4rem;
  height: 64px;
  height: 4rem;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

}

.family-info {
  margin-left: 64px;
  margin-left: 4rem;
}

.family-info-members .family-info-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 32px;
  margin-bottom: 2rem;
}

.family-info-members ul .languages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 48px;
  margin-left: 3rem;
}

.family-info-members ul .languages li {
  background-color: #cddefe;
  padding: 12.8px;
  padding: .8rem;
  margin-left: 16px;
  margin-left: 1rem;
  border-radius: 1rem;
}

.family-info-result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.family-info-result .action {
  width: 44.8px;
  width: 2.8rem;
  height: 44.8px;
  height: 2.8rem;
  background-color: #6431b9;
}

/*
FORMS
*/

.page-new-family, .page-edit-profile, .page-login {
  background-color: #6d34c5;
  height: auto;

}

.form-add-family, .form-edit-user, .page-login-forms {
  width: 40%;
  margin:auto;
  background-color: white;
  border-radius: 10px;
  color: #6d34c5;
  padding: 48px 48px 0 48px;
  padding: 3rem 3rem 0 3rem;
}

.form-add-family input, .form-edit-user input, .page-login-forms input {
  background-color: ghostwhite;
  border: none;
  margin-top: 32px;
  margin-top: 2rem;
  margin-bottom: 16px;
  margin-bottom: 1rem;
}

.form-add-family input:-webkit-autofill, .form-edit-user input:-webkit-autofill, .page-login-forms input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px ghostwhite inset;
}

.form-add-family button, .form-edit-user button, .page-login-forms button {
  background-color: #6431b9;
  border: none;
  color: white;
  border-radius: 100px;
  height: 80px;
  height: 5rem;
  width: 80px;
  width: 5rem;
}

/*login*/

.user-profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.user-profile {
  background-color: #6d34c5;
  padding: 32px;
  padding: 2rem;
  border-radius: 10px;
  margin: 16px;
  margin: 1rem;
  border: none;
}

.page-login-forms button {
  border-radius: 10px;
}

/*
MODELS
*/

.show-grid {
  background: red;
}

/*# sourceMappingURL=style.css.map*/