@keyframes hover {

  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }

  75% {
    transform: translateY(.5rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes hover-start {

  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(1rem);
  }

  75% {
    transform: translateX(-.5rem);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes login {

  0% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(50vw);
    opacity: 1;
  }
}

@keyframes register {

  0% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(51vw);
    opacity: 1;
  }
}

@keyframes join {

  0% {
    transform: translateX(0);
    opacity: 0;
  }

  100% {
    transform: translateX(45vw);
    opacity: 1;
  }
}

@keyframes radar {

  0% {
    transform: scale(1);
    opacity: 1;
  }

  50%,
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}

@keyframes family-info-child {

  0% {
    transform: translateY(-20rem);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes wink {

  0%,
  10%,
  100% {
    transform: scale(.3, 0);
  }

  5% {
    transform: scale(1, 1);
  }

}

@keyframes shine {

  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.1);
    opacity: .5;
  }
}

@keyframes float {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-1rem);
  }
}

@keyframes float-shadow {

  0%,
  100% {
    transform: scaleX(1) translateY(0);
  }

  50% {
    transform: scaleX(.7) translateY(1rem);
  }
}
