.model-distance-background,
.family-background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1;

  /* width in rem, positioning in vw */

  .airplane,
  .cloud,
  .truck,
  .car,
  .street-signs,
  .sun,
  .house,
  .tree,
  .bench {
    position: absolute;
    top: 0;
    left: 0;
  }

  .sun {
    width: 10rem;
    height: 10rem;
    left: auto;
    right: 50vw;
    top: 11vh;

    border-radius: 50%;

    &::before {
      @add-mixin before-after;
      width: 115%;
      height: 115%;
      border-radius: 50%;
      background: #35d8de;
      top: -1rem;
      left: -1rem;
      animation: shine 1.5s ease-in infinite;
    }

    &::after { /* to prevent z index issues and for animation */
      @add-mixin before-after;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background: #90f0f3;
    }
  }

  .airplane {
    width: 5rem;
    top: 23vh;
    left: auto;
    right: 50vw;

    animation: flying 5s ease-in infinite;
  }

  .truck {
    left: 10vw;
    top: auto;
    bottom: 34vh;
    width: 42rem;

    transform-origin: bottom center;
    animation: drive .5s ease-in infinite;

    &::after {
      @add-mixin before-after;
      top: auto;
      left: -15%;
      bottom: 0;
      width: 130%;
      height: .8rem;
      border-radius: 50%;
      background: black;
      opacity: .05;
      filter: blur(2px);
    }
  }

  .car {
    left: auto;
    right: 21vw;
    top: auto;
    bottom: 35vh;
    width: 25rem;

    transform-origin: bottom center;
    animation: drive .5s ease-in infinite;

    &::after {
      @add-mixin before-after;
      top: auto;
      left: -15%;
      bottom: 0;
      width: 130%;
      height: .8rem;
      border-radius: 50%;
      background: black;
      opacity: .05;
      filter: blur(2px);
    }
  }

  .cloud-left {
    top: 25vh;
    left: 29vw;
    width: 13rem;

    animation: cloud-left 3s ease-in infinite;
  }

  .cloud-right {
    left: auto;
    right: 40vw;
    top: 15vh;
    width: 19rem;

    animation: cloud-right 3.5s ease-in infinite;
  }

  .street-signs {
    left: 40vw;
    top: auto;
    bottom: 40vh;
    width: 35rem;
  }

  .house {
    top: auto;
    left: 17vw;
    bottom: 35vh;
    width: 20rem;

    &::after {
      @add-mixin before-after;
      top: auto;
      left: -15%;
      bottom: 0;
      width: 130%;
      height: .8rem;
      border-radius: 50%;
      background: black;
      opacity: .05;
      filter: blur(2px);
    }
  }

  .bench {
    top: auto;
    left: auto;
    right: 24vw;
    bottom: 32vh;
    width: 20rem;

    &::after {
      @add-mixin before-after;
      top: auto;
      left: -25%;
      bottom: 0;
      width: 150%;
      height: .8rem;
      border-radius: 50%;
      background: black;
      opacity: .05;
      filter: blur(2px);
    }
  }

  .tree {
    top: auto;
    left: auto;
    right: 16vw;
    bottom: 35vh;
    width: 30rem;
  }
}

/* SVG ILLUSTRATIONS */
.chris-illustration {

  .st0,
  .st1 {
    fill: #88115e;
  }

  .st2,
  .st4 {
    fill: #9c1365;
  }

  .st3 {
    clip-path: url(#svgid_1_);
    fill: #961568;
  }

  .st5 {
    fill: #ffe9f7;
    stroke: #9c1265;
    stroke-width: 4.93;
    stroke-miterlimit: 10;
  }

  .st6 {
    fill: #353535;
  }

  .st7 {
    fill: white;
  }

  .st8,
  .st9 {
    fill: #8e1161;
  }

  .st8 {
    clip-path: url(#svgid_2_);
  }

  .st9 {
    clip-path: url(#svgid_3_);
  }

  .st10 {
    fill: #282628;
  }

  .st11 {
    fill: #a51b74;
  }

  .st12 {
    fill: #721952;
  }
}

.kiki-illustration {

  .st0 {
    fill: #aa4343;
  }

  .st1 {
    clip-path: url(#svgid_2_);
    fill: #a34848;
  }

  .st2 {
    fill: #bc4d4d;
  }

  .st3 {
    fill: #cd5251;
  }

  .st4 {
    opacity: .6;
    fill: #c64f4f;
  }

  .st5 {
    fill: #fdeed8;
  }

  .st6 {
    fill: #231f20;
  }

  .st7 {
    fill: white;
  }

  .st8 {
    fill: #913237;
  }

  .st9 {
    clip-path: url(#svgid_4_);
    fill: #e2002b;
  }

  .st10 {
    fill: #c14c4c;
  }

  .st11 {
    fill: #933135;
  }

  .st12 {
    clip-path: url(#svgid_6_);
    fill: #933135;
  }
}

.gigi-illustration {

  .st0 {
    clip-path: url(#svgid_1_);
    fill: #5050ea;
  }

  .st1 {
    clip-path: url(#svgid_2_);
    fill: #5050ea;
  }

  .st2 {
    fill: #5050ea;
  }

  .st3 {
    fill: #4444ea;
  }

  .st4 {
    fill: #212193;
  }

  .st5 {
    opacity: .5;
  }

  .st6 {
    clip-path: url(#svgid_3_);
    fill: #272791;
  }

  .st7 {
    fill: #7400e0;
  }

  .st8 {
    fill: #a4e3ff;
  }

  .st9 {
    fill: #212193;
    stroke: #f4f4f4;
    stroke-width: 3.35;
    stroke-miterlimit: 10;
  }

  .st10 {
    fill: #f4f4f4;
  }

  .st11 {
    fill: #3c3caa;
  }

  .st12 {
    clip-path: url(#svgid_4_);
    fill: #37379b;
  }
}

.professor-overlay-illustration {

  .st0 {
    fill: #76c1ff;
  }

  .st1 {
    clip-path: url(#svgid_1_);
  }

  .st2 {
    clip-path: url(#svgid_1_);
    fill: #5299ff;
  }

  .st3 {
    clip-path: url(#svgid_2_);
  }

  .st4 {
    fill: #60b9ef;
  }

  .st5 {
    clip-path: url(#svgid_2_);
    fill: #5299ff;
  }

  .st6 {
    clip-path: url(#svgid_3_);
  }

  .st7 {
    clip-path: url(#svgid_3_);
    fill: #5299ff;
  }

  .st8 {
    fill: #80d2ff;
  }

  .st9 {
    fill: #5299ff;
  }

  .st10 {
    opacity: .5;
    clip-path: url(#svgid_4_);
    fill: #8fddff;
  }

  .st11 {
    fill: #4885ff;
  }

  .st12 {
    fill: #e0fcef;
  }

  .st13 {
    fill: #231f20;
  }

  .st14 {
    fill: white;
  }

  .st15 {
    clip-path: url(#svgid_5_);
    fill: #4885ff;
  }

  .st16 {
    fill: #3131ff;
  }

  .st17 {
    clip-path: url(#svgid_6_);
    fill: #5299ff;
  }

  .st18 {
    clip-path: url(#svgid_7_);
    fill: #4885ff;
  }

  .st19 {
    clip-path: url(#svgid_8_);
    fill: #486fff;
  }

  .st20 {
    fill: none;
    stroke: #233133;
    stroke-width: 4.67;
    stroke-miterlimit: 10;
  }

  .st21 {
    fill: none;
    stroke: #233133;
    stroke-width: 4.67;
    stroke-linecap: round;
    stroke-miterlimit: 10;
  }

}

.svg-new-professor {
  width: 20rem;
}

.new-professor-illustration {

  .eyelid {
    fill: #4885ff;
    transform: scale(.6, 0);
    animation: wink 5s ease-in 3s infinite forwards;
  }

  .eyelid-left-top,
  .eyelid-right-top {
    transform-origin: top center;
  }

  .eyelid-left-bottom,
  .eyelid-right-bottom {
    transform-origin: bottom center;
  }

  .tentacle {
    fill: #76c1ff;
  }

  .st0 {
    fill: #564325;
  }

  .st1 {
    clip-path: url(#svgid_1_);
  }

  .st2 {
    fill: #76c1ff;
  }

  .st3 {
    clip-path: url(#svgid_1_);
    fill: #5299ff;
  }

  .st4 {
    clip-path: url(#svgid_2_);
  }

  .st5 {
    clip-path: url(#svgid_2_);
    fill: #5299ff;
  }

  .st6 {
    clip-path: url(#svgid_3_);
  }

  .st7 {
    fill: #60b9ef;
  }

  .st8 {
    clip-path: url(#svgid_3_);
    fill: #5299ff;
  }

  .st9 {
    clip-path: url(#svgid_4_);
  }

  .st10 {
    clip-path: url(#svgid_4_);
    fill: #5299ff;
  }

  .st11 {
    fill: #80d2ff;
  }

  .st12 {
    fill: #5299ff;
  }

  .st13 {
    opacity: .5;
    clip-path: url(#svgid_5_);
    fill: #8fddff;
  }

  .st14 {
    fill: #4885ff;
  }

  .st15 {
    fill: #e0fcef;
  }

  .st16 {
    fill: #231f20;
  }

  .st17 {
    fill: white;
  }

  .st18 {
    clip-path: url(#svgid_6_);
    fill: #4885ff;
  }

  .st19 {
    fill: #3131ff;
  }

  .st20 {
    clip-path: url(#svgid_7_);
    fill: #486fff;
  }

  .st21 {
    fill: #755d32;
  }

  .st22 {
    fill: #ffebcf;
  }

  .st23 {
    fill: #91dd40;
  }
}

.family-illustration {

  .st0 {
    fill: #6dc5f2;
  }

  .st1 {
    clip-path: url(#svgid_1_);
    fill: #60a4f4;
  }

  .st2 {
    fill: #71c2ea;
  }

  .st3 {
    fill: white;
  }

  .st4 {
    clip-path: url(#svgid_2_);
  }

  .st5 {
    fill: #76c1ff;
  }

  .st6 {
    clip-path: url(#svgid_2_);
    fill: #5299ff;
  }

  .st7 {
    clip-path: url(#svgid_3_);
  }

  .st8 {
    fill: #60b9ef;
  }

  .st9 {
    clip-path: url(#svgid_3_);
    fill: #5299ff;
  }

  .st10 {
    clip-path: url(#svgid_4_);
  }

  .st11 {
    clip-path: url(#svgid_4_);
    fill: #5299ff;
  }

  .st12 {
    fill: #80d2ff;
  }

  .st13 {
    opacity: .5;
    clip-path: url(#svgid_5_);
    fill: #8fddff;
  }

  .st14 {
    fill: #4885ff;
  }

  .st15 {
    fill: #e0fcef;
  }

  .st16 {
    fill: #231f20;
  }

  .st17 {
    fill: #5299ff;
  }

  .st18 {
    clip-path: url(#svgid_6_);
    fill: #4885ff;
  }

  .st19 {
    fill: #3131ff;
  }

  .st20 {
    clip-path: url(#svgid_7_);
    fill: #486fff;
  }

  .st21,
  .st22,
  .st23 {
    fill: #5050ea;
  }

  .st22 {
    clip-path: url(#svgid_8_);
  }

  .st23 {
    clip-path: url(#svgid_9_);
  }

  .st24 {
    fill: #4444ea;
  }

  .st25 {
    fill: #212193;
  }

  .st26 {
    opacity: .5;
  }

  .st27 {
    clip-path: url(#svgid_10_);
    fill: #272791;
  }

  .st28 {
    fill: #a4e3ff;
  }

  .st29 {
    fill: #212193;
    stroke: #f4f4f4;
    stroke-width: 5.51;
    stroke-miterlimit: 10;
  }

  .st30 {
    fill: #f4f4f4;
  }

  .st31 {
    fill: #3c3caa;
  }

  .st32 {
    clip-path: url(#svgid_11_);
    fill: #37379b;
  }

  .st33 {
    fill: #2b2baf;
  }

  .st34 {
    fill: #242496;
  }

  .st35 {
    opacity: .4;
  }

  .st36 {
    clip-path: url(#svgid_12_);
    fill: #212193;
  }

  .st37 {
    fill: #dbecfc;
  }

  .st38 {
    clip-path: url(#svgid_13_);
    fill: #67aef4;
  }
}

.cloud-illustration {

  .st0 {
    fill: #90f0f3;
    animation: cloud-left-back 3s ease-in infinite;
  }

  .st1 {
    fill: #35d8de;
  }
}

.cloud2-illustration {

  .st0 {
    fill: #90f0f3;
    animation: cloud-right-back 3.5s ease-in infinite;
  }

  .st1 {
    fill: #35d8de;
  }
}

.car-illustration {

  .st0 {
    fill: #00e2ea;
  }

  .st1 {
    fill: #1db0b6;
  }

  .st2 {
    fill: #21c5cb;
  }

  .st3 {
    fill: #4de7ec;
  }
}

.truck-illustration {

  .st0 {
    fill: #1db0b6;
  }

  .st1 {
    fill: #21c5cb;
  }

  .st2 {
    fill: #00e2ea;
  }

  .st3 {
    fill: #00ccc6;
  }

  .st4 {
    fill: #609b3a;
  }

  .st5 {
    fill: #24d8df;
  }
}

.airplane-illustration {

  .st0 {
    fill: #1db0b6;
  }

  .st1 {
    fill: #21c5cb;
  }

  .st2 {
    fill: #24d8df;
  }

  .st3 {
    fill: #00e2ea;
  }
}

.roadsigns-illustration {

  .st0 {
    fill: #21c5cb;
  }

  .st1 {
    fill: #7cd644;
  }

  .st2 {
    fill: #1db0b6;
  }

  .st3 {
    fill: #24d8df;
  }

  .st4 {
    fill: #00e2ea;
  }
}

.bench-illustration {

  .st0 {
    fill: #1db0b6;
  }

  .st1 {
    fill: #21c5cb;
  }

  .st2 {
    fill: #24d8df;
  }
}

.house-illustration {

  .st0 {
    fill: #24d8df;
  }

  .st1 {
    fill: #21c5cb;
  }

  .st2 {
    fill: #00e2ea;
  }

  .st3 {
    fill: #00c9d0;
  }

  .st4 {
    fill: #1db0b6;
  }
}

.tree-illustration {

  .st0 {
    fill: #21c5cb;
  }

  .st1 {
    fill: #24d8df;
  }

  .st2 {
    fill: #56e7eb;
  }
}

.tablet-illustration {

  .st0 {
    fill: #faf9f3;
  }

  .st1 {
    fill: #37e2e8;
  }

  .st2 {
    fill: #a39f95;
  }

  .st3 {
    fill: #5299ff;
  }

  .st4 {
    fill: white;
  }
}

.laptop-illustration {

  .st0 {
    fill: #dbe8fe;
  }

  .st1 {
    fill: #5427aa;
  }

  .st2 {
    fill: #cddff9;
  }

  .st3 {
    fill: #eaeaea;
  }

  .st4 {
    fill: #9b9b9b;
  }
}
