@define-mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@define-mixin before-after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}
