$darkblue: #00afa2;
$midblue: #21cbc5;
$blue: #26e2e9;
$purple: #6e2bc8;

.model-distance {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
  align-items: center;
  color: white;

  width: 100%;
  height: calc(100% - 8rem);

  padding: 0 3rem;

  .btn-onboarding {
    position: relative;
    cursor: pointer;
    animation: none;
    z-index: 2;
    font-size: 3rem;

    &::after,
    &::before {
      @add-mixin before-after;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      border: .1rem solid $purple;
      z-index: 0;

      animation: radar 2s ease-in infinite;
    }

    &::after {
      animation-delay: .5s;
    }
  }
}

/* BACKGROUND SEE ILLUSTRATIONS */

.active-notes .model-distance {
  width: calc(100% - 40rem);
}

.active-notes .model-distance-background {
  width: calc(100% - 40rem);

  .car {
    right: 5rem;
  }

  .cloud-right {
    right: 20rem;
  }

  .sun,
  .airplane {
    right: 35rem;
  }
}

.timeline-scene {
  display: flex;
  align-items: flex-end;
  min-height: 55vh;
  width: 100%;

  position: relative;
}

.flag {
  color: $darkblue;
  position: relative;
  width: 20rem;
  z-index: 1;

  &::after {
    @add-mixin before-after;
    top: auto;
    left: -30%;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 50%;
    height: .8rem;
    border-radius: 50%;
    background: black;
    opacity: .05;
    filter: blur(2px);
  }
}

.flag-flag {
  fill: white;
}

.flag-stick {
  fill: #936119;
}

.flag-language {
  position: absolute;
  display: block;
  z-index: 1;
  font-weight: 500;
  text-align: center;
  top: 5.5rem;
  left: 2.5rem;
  bottom: 0;
  right: 0;
  margin: auto;

  text-transform: uppercase;
  color: #0a5e5e;
}

.timeline-scene .drag-character {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 5;
  background: none;
  left: 0;
  bottom: 0;

  width: 7rem;
  height: 100%;
  transform-origin: center center;

  animation: float 2s ease-in infinite;

  &::after {
    @add-mixin before-after;
    top: auto;
    bottom: -1rem;
    width: 100%;
    height: .6rem;
    border-radius: 50%;
    background: black;
    opacity: .05;
    filter: blur(2px);
  }

  &:nth-child(1) {
    transform: translateX(0);
  }

  &:nth-child(2) {
    transform: translateX(-1rem);
  }

  &:nth-child(3) {
    transform: translateX(1rem);
  }

  &:nth-child(4) {
    transform: translateX(-2rem);
  }

  &:nth-child(5) {
    transform: translateX(2rem);
  }

  svg {
    display: block;
    cursor: move;
  }

  &.chris {
    width: 20rem;
  }

  &.gigi {
    width: 14rem;
  }
}

.timeline {
  @add-mixin flex-center;
  position: relative;
  justify-content: flex-start;
  width: 100%;
  margin-bottom: 3rem;

  &::after,
  &::before {
    @add-mixin before-after;
    width: 100%;
    height: .1rem;
    border-bottom: .1rem dashed white;

    top: 0;
    bottom: 0;
    margin: auto;

    z-index: 0;
  }

  &::after {
    border: none;
    width: .5rem;
    height: .5rem;
    left: auto;
    right: 0;
    background: white;
    border-radius: .5rem;
  }
}

.timeline-language,
.timeline-character {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
}

.timeline-language {
  padding: 1rem;
  background: $blue;
  font-weight: 700;

  text-transform: uppercase;
  z-index: 2;
}

.timeline-character {
  display: block;
  text-align: center;
  position: absolute;
  transform-origin: center center;
  left: 0;
  top: 0;
  bottom: 0;
  opacity: 0;

  .member-bullet {
    width: 2rem;
    height: 2rem;
    border: .3rem solid white;
    background: $blue;

    display: block;
    margin: auto;
    margin-bottom: 1rem;
    border-radius: 2rem;
    transform: translateY(1rem);
  }

  .member-name {
    transform: translateY(2rem);
  }
}

.onboarding {

  .drag-character {
    animation: onboarding-distance 20s ease-in 3s infinite backwards;

    svg {
      animation: float 2s ease-in infinite;
    }

    &::after {
      animation: float-shadow 2s ease-in infinite;
    }
  }

  .timeline-character {
    animation: onboarding-distance 20s ease-in 3s infinite backwards;
  }

  .onboarding-hand {
    position: absolute;
    z-index: 2;
    bottom: 15rem;
    left: calc(3rem + 20vw);

    .fa {
      animation: onboarding-hand 3s ease-in forwards;
    }
  }
}
