$darkblue: #00afa2;
$midblue: #21cbc5;
$blue: #26e2e9;

.page-model::after {
  content: none;
}

.model-distance {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;
  color: white;

  width: 100%;
  padding-bottom: 6rem;
}

.timeline-scene {
  /*display: flex;
  justify-content: flex-start;
  align-items: flex-end;*/
  margin-bottom: 2.5rem;
  border: 1px solid blue;
  width: 90vw;
  min-height: 50vh;

  position: relative;
}

.flag {
  color: $darkblue;
  position: relative;
  width: 20rem;
}

.flag-flag {
  fill: white;
}

.flag-stick {
  fill: #936119;
}

.flag-language {
  position: absolute;
  display: block;
  z-index: 1;
  font-weight: 500;
  text-align: center;
  top: 5rem;
  left: 2.5rem;
  bottom: 0;
  right: 0;
  margin: auto;

  text-transform: uppercase;
  color: #0a5e5e;
}

.timeline-scene .drag-character {
  display: inline-block;
  position: absolute;
  background: none;
  right: 0;
  border: 1px solid red;

  width: 7rem;
  height: 100%;

  p,
  svg {
    height: 100%;
    width: 100%;
    display: block;
    cursor: move;
  }

  &.chris {
    width: 20rem;
  }

  &.gigi {
    width: 14rem;
  }
}

.drag-preview {
  width: 5rem;
  height: 5rem;
  border: 1px solid blue;
}

.timeline {
  @add-mixin flex-center;
  width: 90vw;
  position: relative;
  justify-content: flex-start;

  &::after,
  &::before {
    @add-mixin before-after;
    width: 100%;
    height: .1rem;
    border-bottom: .1rem dashed white;

    top: 0;
    bottom: 0;
    margin: auto;

    z-index: 0;
  }

  &::after {
    border: none;
    width: .5rem;
    height: .5rem;
    left: auto;
    right: 0;
    background: white;
    border-radius: .5rem;
  }
}

.timeline-language,
.timeline-character {
  position: relative;
  z-index: 1;
  border-radius: 1rem;
}

.timeline-language {
  padding: 1rem;
  background: $blue;
  font-weight: 700;

  text-transform: uppercase;
  z-index: 2;
}

.timeline-character {
  width: 2rem;
  height: 2rem;
  border: .3rem solid white;
  background: $blue;
  margin: 1rem;

  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
