@import 'reset';

$active: #773eff;

body {
  font-family: 'Helvetica neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  margin: 2rem;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.8rem;
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.error {
  color: red;
}

header,
.families,
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav,
.form-actions {
  display: flex;
  justify-content: space-between;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin-left: 1rem;
    color: $active;
  }
}

.actions {

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin-left: 1rem;
    color: $active;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* FORMS */
form {
  width: 40rem;
  margin: 2rem;
}

label {
  display: block;
}

input {
  display: block;
  width: 100%;
  padding: 1rem;

  margin: 1rem 0;
  background: none;

  border-radius: 1rem;
  border: 1px solid grey;

  &:focus {
    outline: none;
  }
}

/* LOGIN */
.user-profiles {
  display: flex;
}

.user-profile {
  margin: 1rem;
}

/* FAMILIES */
.families {
  align-items: flex-start;
  width: 100%;
}

.families-browse {

  flex-direction: column;
  flex: 1;
  align-items: center;

  li {
    margin: 1rem;
    background: #f1f1f2;
    padding: 1rem;
    border-radius: 50%;
    text-align: center;

    width: 4rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
      background: #3190f5;
    }

  }

  .disabled {
    width: 2rem;
    height: 2rem;
    opacity: .5;
    font-size: 1.2rem;

    margin: .5rem;
    cursor: auto;

    &:hover {
      background: #f1f1f2;
    }
  }

  .active {
    background: #3190f5;
  }
}

.families-overview {
  flex-direction: column;
  justify-content: flex-start;
  flex: 6;
}

.family-item {
  margin: 2rem;
  width: 50vw;
}

.action {
  margin: 1rem;
  background: #f1f1f2;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;

  width: 4rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;
}

.families-search {

  span,
  input {
    width: 100%;
  }
}
