@import 'reset';
@import 'animations';

$active: #773eff;

$purple: #6e2bc8;
$darkpurple: #5427aa;
$lightpurple: ghostwhite;
$midpurple: #dfd4f9; /* used on form focus */

$grey: #515151;

$lightblue: #dbe8fe;
$blue: #26e2e9;
$accentlightblue: #cddefe;

/* MIXINS */
@define-mixin before-after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
}

@define-mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GENERAL */

html {
  height: 100%;
}

body {
  font-family: Rubik, Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  height: 100%;
}

a {
  text-decoration: none;
  outline: none;
  transition: all .3s ease-in;
  font-weight: 500;

  &:hover {
    opacity: .5;
  }
}

button {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.btn {
  @add-mixin flex-center;
  color: white;
  border: none;
  background: $darkpurple;
  border-radius: 5rem;
  font-size: 3rem;
  width: 5.5rem;
  height: 5.5rem;
  text-align: center;

  &:hover {
    animation: hover .3s ease-in;
  }
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  color: $darkpurple;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;

  span {
    display: none;
  }
}

h2,
.model-note label {
  font-size: 1.8rem;
  font-weight: 500;
  color: $darkpurple;
}

h3 {
  padding: 3rem 0;
  font-weight: 500;
  font-size: 1.6rem;
}

.error {
  color: red;
}

.actions {

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin-left: 1rem;
    color: $active;
  }
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 89.9vh;
}

.page-families main,
.container,
.main {
  height: 100%;
}

/*
HEADER
*/
header,
.families,
.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  padding: 1.5rem 2.5rem;
}

.logo {
  height: 30px;
  width: 69px;
  padding: 40px;
  padding: 2.5rem;
  margin-left: 40px;
  margin-left: 2.5rem;
  background-image: url(/assets/logo_talesathome.png);
  background-repeat: no-repeat;
}

nav,
.form-actions {
  display: flex;
  justify-content: center;
  color: white;

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    margin-left: 2rem;
  }

  /*li a:visited {
    color: white;
  }*/
}

.nav-item {
  background: white;
  padding: 1rem;
  border-radius: 2rem;
  color: $purple;
  text-transform: uppercase;
  font-weight: 700;
  display: block;
  cursor: pointer;

  span {
    margin-left: 1rem;
  }

  &:hover {
    animation: hover .3s ease-in;
    opacity: 1;
  }
}

.families-search {
  background-color: $purple;
  padding-left: 2.5rem;
  padding-bottom: 2rem;

  span,
  input {
    width: 98%;
    background-color: $darkpurple;
    border: none;
    border-radius: 0 10px 10px;
  }

  input::placeholder {
    color: white;
    opacity: .5;
  }
}

/*
FORMS
*/

form {
  @add-mixin flex-center;
  flex-direction: column;
}

label {
  display: block;
  margin-top: 2rem;
  font-weight: 500;
  color: $purple;
}

.form-input {
  width: 35rem;
  display: block;
}

input,
textarea {
  display: block;
  padding: 1rem;

  margin: 1rem 0;
  background: none;
  border: none;
  width: 100%;
  border-radius: 1rem;
  transition: all .3s ease-in;
  color: $darkpurple;

  &:focus {
    outline: none;
    background: $midpurple;
  }
}

textarea {
  resize: none;
  background: $lightpurple;
  border: none;
}

.form-add-family,
.form-edit-user,
.page-login-forms {
  background-color: white;
  border-radius: 2rem;
  color: $purple;
  padding: 3rem 8rem 4rem;

  input {
    background: ghostwhite;

    &:focus {
      background: $midpurple;
    }
  }
}

input:-webkit-autofill {
  box-shadow: 0 0 0 1000px ghostwhite inset;
}

/*
  LOGIN
*/
.page-home,
.page-login {
  background: $purple;
  height: 100%;
  position: relative;
  overflow: hidden;

  &::before {
    @add-mixin before-after;
    width: 55vw;
    height: 150vh;
    background: $darkpurple;
    opacity: .3;

    top: -10rem;
    left: auto;
    right: -10rem;
    transform: rotate(20deg);
  }

  &::after {
    @add-mixin before-after;
    top: auto;
    bottom: 0;
    left: -50rem;
    z-index: 2;
  }

  .main-header,
  main {
    position: relative;
    z-index: 1;
  }
}

.page-login.join::after {
  bottom: -5.5rem;
  width: 50rem;
  height: 45rem;
  background: url(../assets/img/login_family.png) no-repeat center center;
  background-size: contain;

  animation: join .3s ease-in forwards;
}

.page-login.register::after {
  bottom: -13rem;
  width: 30rem;
  height: 50rem;
  background: url(../assets/img/login_newmentor.png) no-repeat center center;
  background-size: contain;

  animation: register .3s ease-in forwards;
}

.page-login.login::after {
  bottom: -15rem;
  width: 30rem;
  height: 52rem;
  background: url(../assets/img/login_mentor.png) no-repeat center center;
  background-size: contain;

  animation: login .3s ease-in forwards;
}

.page-login-forms {
  position: relative;
  margin-top: -5rem;

  .btn {
    position: absolute;
    top: auto;
    bottom: -2.2rem;

    &:hover {
      animation: hover-start .3s ease-in;
    }
  }

  &::after {
    @add-mixin before-after;
    width: 100%;
    height: 100%;
    background: $darkpurple;
    border-radius: 2rem;

    left: 1rem;
    top: 1rem;
    z-index: -1;
  }
}

.user-profiles {
  display: flex;
  width: auto;
  justify-content: center;
  margin-bottom: 3rem;
}

.user-profile {
  background-color: $purple;
  padding: 1rem;
  border-radius: 1rem;
  margin: 1rem;
  font-weight: 500;
  display: block;

  color: white;
  cursor: pointer;
}

.page-login-img {
  position: absolute;
  margin-top: -15rem;
}

.info-login {
  font-size: 1.3rem;
  margin-top: 2rem;
  color: $grey;
  line-height: 2rem;
}

/*
MENTOR FAMILIES
*/

.page-families {
  background-color: $lightblue;
}

.families {
  align-items: flex-start;
  width: 100%;
  position: relative;

  h1 {
    margin-top: 8rem;
    text-transform: uppercase;
  }

  header {
    width: 90%;
  }
}

.families-browse {

  flex-direction: column;
  flex: 1;
  align-items: left;
  margin-top: 5rem;

  li {
    margin: 1rem;
    padding: 1rem;
    margin-left: 4rem;
    border-radius: 50%;
    text-align: center;
    color: white;

    width: 3rem;
    height: 3rem;
    background: $purple;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    &:hover {
      background: $darkpurple;
      width: 4rem;
      height: 4rem;
    }

  }

  .disabled::after {
    /*VARIABELE INVULLEN*/
    content: 'B';
    opacity: .08;
    font-size: 2.5rem;
    position: relative;
    margin-left: -1rem;
    margin-bottom: 1rem;
  }

  .disabled {
    width: 2rem;
    height: 2rem;
    font-size: 1.2rem;
    background: none;

    margin: .5rem;
    margin-left: 1rem;
    cursor: auto;
    color: $purple;
    font-weight: 700;

  }

  .active {
    width: 4rem;
    height: 4rem;
  }
}

.families-overview {
  flex-direction: column;
  justify-content: flex-start;
  flex: 6;
}

.family-item {
  color: $grey;
  width: 80vw;
  margin-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: .05px solid rgb(100, 49, 185, .1);
}

.action {
  margin: .5rem;
  background: $purple;
  padding: .5rem;
  border-radius: 50%;
  text-align: center;

  width: 4rem;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: center;

}

.family-info {
  margin-left: 4rem;
}

.family-info-members {
  width: 90%;
  font-size: 1.3rem;

  .family-info-member {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
  }

  ul .languages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 3rem;

    li {
      background-color: $accentlightblue;
      padding: .8rem;
      margin-left: 1rem;
      border-radius: 1rem;
    }
  }
}

.family-info-result {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;

  .action {
    width: 2.8rem;
    height: 2.8rem;
    background-color: $darkpurple;
  }
}

/*
STARTSESSION POP-UP
*/

.pop-up {
  text-align: center;
  background-color: white;
  padding: 2rem;
  width: auto;
  max-width: 40rem;
  border-radius: 10px;

  position: absolute;
  z-index: 10;
  top: 5rem;
  left: 0;
  right: 0;
  margin: auto;

  height: 25rem;

  .btn {
    position: absolute;
    margin-top: -4rem;
    margin-left: 18rem;
  }

  h2 {
    color: $purple;
    font-size: 2rem;
    line-height: 4rem;
    text-transform: uppercase;
    margin: auto auto 4rem;
  }

  .session-code {
    display: block;
    background-color: $purple;
    border-radius: 10px;
    color: white;
    width: 20rem;
    padding: 1.5rem;
    margin: auto;
    margin-bottom: 4rem;
  }
}

/*
MODELSOVERVIEW
*/

.page-models,
.page-model {
  background-color: $blue;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-image:
    url(../assets/img/bg/bg_ground_blue.png),
    url(../assets/img/bg/bg_gradient.png);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: 0% 170%, top;

  .main-header {
    background: none;
  }

  h2 {
    color: white;
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  p {
    color: white;
    text-align: center;
  }
}

.btn-show-grid {
  position: fixed;
  bottom: 0;
  background-image: url(../assets/img/btn-show-grid.png);
  border: none;
  width: 139px;
  height: 36px;
  background-color: transparent;
}

.models-overview {

  nav {
    margin-top: -10rem;
  }
}

.models-overview-grid {
  position: fixed;
  padding: 20px 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 80%;
  background-color: white;
  text-align: center;
  transform: translateY(100%);
  transition: transform .6s ease-in-out;

  .btn-showed-grid {
    background-color: red;
    transform: translateY(100%);
    transition: transform .6s ease-in-out;
  }
}

.show-grid {
  transform: translateY(0%);
  padding-top: 20%;
  background: white;
}

.models-overview-grid-item {

  p {
    color: $grey;
  }
}

.page-model {
  position: relative;
}

.model {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
}

.model-notes {
  background: white;
  border-radius: 1rem;
  height: calc(100vh - 3rem);
  padding: 2rem;
  width: 40rem;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;

}

@import 'model-distance';
