$active: #773eff;

$purple: #6e2bc8;
$textpurple: #33217f; /* for text */
$darkpurple: #5427aa; /* for bg */
$lightpurple: ghostwhite;
$midpurple: #dfd4f9; /* used on form focus */

$grey: #515151;

$lightblue: #dbe8fe;
$blue: #26e2e9;
$accentblue: #cddefe; /* languages */
$accentlightblue: #90f0f3; /* themes */
$bluenav: #21c5cb;
